@font-face {
  font-family: "Croogla 4F";
  src: url("Croogla4F.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display-Bold";
  src: url("SF-Pro-Display-Bold.otf") format("opentype");
  /* You can add more src definitions for different font formats (e.g., woff, woff2) */
}
.parcoil-logo {
  font-family: "Croogla 4F";
  font-size: 50px;
  font-weight: 500;
}
#particles-js {
  position: fixed; /* Change this to 'fixed' */
  width: 100vw;
  height: 100vh;
  top: 0;

  background-repeat: repeat;
  background-size: auto;
  background-position: 50% 50%;
  overflow: hidden;
  z-index: -1;
}

.hre3 {
  cursor: pointer;
}
* {
  font-family: "SF-Pro-Display-Bold";
}
.sparkletext {
  font-family: "SF-Pro-Display-Bold";
  font-weight: 900;
}
.shortcutcard {
  width: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
}
